@font-face {
  font-family: "eina";
  src: url("./fonts/eina-01-bold.woff2") format("woff2");
}

.message-card {
  position: absolute;
  z-index: 50;
  top: 0;
  right: 0;
}

.cluster-marker {
  color: rgb(0, 0, 0);
  background: #ff6f6f;
  font-size: 12px;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "eina";
  transition: all 0.2s ease-in-out;
}

.cluster-marker:hover {
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #ff4e4e;
  transition: 0.2s;
  transform: scale(1.1);
}

.scooter-marker {
  transition: all 0.2s ease-in-out;
  background: none;
  border: none;
}
.scooter-marker:hover {
  transform: scale(1.4);
  cursor: pointer;
}

.scooter-marker img {
  width: 27px;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.hero-container {
  padding: 0;
  color: white;
  top: 0;
  left: 50px;
  z-index: 999;
}
.logo {
  color: #bbbbbb;
  font-size: 42px;
  text-shadow: 1px 5px 5px rgba(0, 0, 0, 0.3);
}

.logo strong {
  color: #ee7874;
}
